.search {
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: large;
  height: 50px;
  margin-bottom: 20px;
  max-width: 350px;
  min-width: 264px;
  padding-left: 10px;
  border: 0;
  width: 100%;
}
